{% extends 'main.html' %}

{% block title %}Create profile: {{ user.username }}{% endblock %}

{% block content %}
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="first_name">First name:</label>
    <input type="text" name="first_name" id="first_name"> <br>
    <label for="last_name">Last name:</label>
    <input type="text" name="last_name" id="last_name"> <br>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"> <br>
    <label for="aboutme">About me:</label>
    <input type="text" name="aboutme" id="aboutme"> <br>
    <input type="file" name="upload" accept="image/*">
    <button type="submit">Save</button>
  </form>
{% endblock %}