{% extends 'main.html' %}

{% load static %}

{% block title %}Chatterbox - rooms{% endblock %}

{% block content %}
    <div class="list-of-rooms">List of rooms:</div>
    <div class="rooms-list">
        <ul>
            {% for room in rooms %}
            <li>
                <a href="{% url 'room' room.id %}">{{ room.name }}</a> {{ room.description }}
                {% if room.host %}
                    Host: {{ room.host }}
                    {% if room.host.id == request.user.id %}  <!-- If logged user is the same as the creator of the room. -->
                        <a href="{% url 'delete_room' room.id %}">
                            <img src="{% static 'chatterbox/cross.png' %}" alt="delete" width="12px"></a>
                        <a href="{% url 'edit_room' room.id %}">🖉</a>
                    {% endif %}
                {% endif %}
                {% if room.messages_count > 0 %}
                    ({{ room.messages_count }} messages, last message date: {{ room.last_message_time }})
                {% else %}
                    (no message yet)
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
