{% extends 'main.html' %}

{% block title %}Chatterbox - rooms{% endblock %}

{% block content %}
    <div class="list-of-rooms">List of rooms:</div>
    <div class="rooms-list">
        <ul>
            {% for room in rooms %}
            <li>
                <a href="{% url 'room' room.id %}">{{ room.name }}</a> {{ room.description }}
                ({{ room.messages_count }} messages
                {% if room.messages_count > 0 %}
                    , last message date: {{ room.last_message_time }})
                {% else %}
                    )
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
