{% extends 'main.html' %}

{% block title %}Room: {{ room.name }}{% endblock %}

{% block content %}
    <div class="room-descr">
        You are in room: <b>{{ room.name }}</b> <br>
        Description: {{ room.description }}
    </div>

    <div class="message-form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="body">Message: </label>
            <textarea name="body" id="body" rows="1" cols="100"> </textarea>
            <input type="file" name="upload" accept="*">  <!-- accept=".doc, .pdf, .txt" -->
            <input type="submit" value="Send">
        </form>
    </div>

    <div class="messages-box">
    {% for message in messages %}
        {% if message.user == request.user %}
            <div class="my-message">
                <div class="my-message-info">
                    <span class="message-user">{{ message.user }}</span>
                    <span class="message-time">{{ message.created }}</span>
                </div>
                <div class="my-message-body">{{ message.body }}</div>
                {% if message.file %} <!-- shows file in web page -->
                    <div class="my-message-file">
                        <a href="{{ message.file }}"><img src="{{ message.file }}" width="50px"></a>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="other-message">
                <div class="other-message-info">
                    <span class="message-user">{{ message.user }}</span>
                    <span class="message-time">{{ message.created }}</span>
                </div>
                <div class="other-message-body">{{ message.body }}</div>
                {% if message.file %}  <!-- shows file in web page -->
                    <div class="other-message-file">
                        <a href="{{ message.file }}"><img src="{{ message.file }}" width="50px"></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}